# Python Fast Strings Matching

Import packages

In [1]:
import pandas as pd
import time
from pfsm import *

Load a sample dataset.

In [2]:
pd.set_option('display.max_colwidth', -1)
dtf_names =  pd.read_csv('data/sec_edgar_company_info.csv', dtype = object)
print(dtf_names.shape)
dtf_names.head()

(663000, 3)

  Line Number                        Company Name Company CIK Key
0  1           !J INC                              1438823
1  2           #1 A LIFESAFER HOLDINGS, INC.       1509607
2  3           #1 ARIZONA DISCOUNT PROPERTIES LLC  1457512
3  4           #1 PAINTBALL CORP                   1433777
4  5           $ LLC                               1427189

## Speed test

In [3]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:100]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

0.4543449878692627

In [4]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:1000]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

0.9785733222961426

In [5]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:10000]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

4.699110746383667

In [6]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:100000]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

64.87949562072754

In [7]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:300000]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

237.19493222236633

In [8]:
time_start = time.time()
str_strings = dtf_names["Company Name"].unique()[0:600000]
dtf_out = pfsm(str_strings)
print(time.time() - time_start)

632.3861622810364

# Output

In [9]:
tmp = dtf_out.groupby(["ENTITY_ID"]).count().reset_index()
tmp.columns = ["ENTITY_ID", "COUNT"]
dtf_out = pd.merge(dtf_out, tmp, on = "ENTITY_ID", how = "left").drop_duplicates()

In [10]:
idx = 30000
dtf_out.sort_values(["COUNT", "ENTITY_ID"], ascending = False)[(idx):(idx+10)]

                                                  STRING  ENTITY_ID  COUNT
167286  DIAMOND RESORTS SANTA FE DEVELOPMENT, LLC         173624.0   54
167287  DIAMOND RESORTS SAN LUIS BAY DEVELOPMENT, LLC     173624.0   54
167288  DIAMOND RESORTS RESIDUAL ASSETS M&E, LLC          173624.0   54
167289  DIAMOND RESORTS RIDGE ON SEDONA DEVELOPMENT, LLC  173624.0   54
167290  DIAMOND RESORTS RESIDUAL ASSETS DEVELOPMENT, LLC  173624.0   54
167291  DIAMOND RESORTS RESIDUAL ASSETS FINANCE, LLC      173624.0   54
167292  DIAMOND RESORTS RIDGE POINTE DEVELOPMENT, LLC     173624.0   54
167293  DIAMOND RESORTS SEDONA SUMMIT DEVELOPMENT, LLC    173624.0   54
167294  DIAMOND RESORTS ST. CROIX DEVELOPMENT, LLC        173624.0   54
167295  DIAMOND RESORTS SELLER 2015-2, LLC                173624.0   54