In [1]:
import numpy as np
import pandas as pd
import time
import multiprocessing
from multiprocessing import Pool
import functools
import sys
from pfsm import *

In [2]:
pd.set_option('display.max_colwidth', -1)
dtf_names =  pd.read_csv('data/sec_edgar_company_info.csv', dtype = object)
print(dtf_names.shape)
dtf_names.head()

(663000, 3)

  Line Number                        Company Name Company CIK Key
0  1           !J INC                              1438823
1  2           #1 A LIFESAFER HOLDINGS, INC.       1509607
2  3           #1 ARIZONA DISCOUNT PROPERTIES LLC  1457512
3  4           #1 PAINTBALL CORP                   1433777
4  5           $ LLC                               1427189

In [3]:
time_start = time.time()
str_strings = dtf_names["Company Name"].values
M = tfidfM(str_strings)
print(M.shape)
print(time.time() - time_start)

(663000, 27922)
13.962115049362183

In [4]:
# time_start = time.time()
# The following code runs the optimized cosine similarity function. 
# It only stores the top 10 most similar items, and only items with a similarity above 0.8
# matches = awesome_cossim_top(M, M.transpose(), 10, 0.8)
# print(time.time() - time_start)

In [5]:
def myf(idxs, ns):
    min_idxs = min(idxs)
    matches_tmp = awesome_cossim_top(ns.M[idxs, ], ns.M[min_idxs:,].transpose(), 10, 0.8)
    return [matches_tmp[j, ].indices + min_idxs for j in range(matches_tmp.shape[0])]

In [6]:
time_start = time.time()
int_entity_id = np.array([np.NaN for j in range(len(str_strings))])
lst_split = list(split(range(M.shape[0]), 100))
print(time.time() - time_start)

0.08235836029052734

In [7]:
time_start = time.time()
manager = multiprocessing.Manager()
ns = manager.Namespace()
ns.M = M
print(time.time() - time_start)

0.6267702579498291

In [8]:
time_start = time.time()
pool = Pool(6)
r = pool.map(functools.partial(myf, ns = ns), lst_split)
pool.close()
pool.join()
print(time.time() - time_start)

644.5067074298859

In [9]:
time_start = time.time()


out = np.array([])
for j in range(len(r)):
    out = np.append(out, r[j])

out
r = out

    
for j in range(len(r)):
    idx = r[j]
    if np.isscalar(idx):
        idx = np.array([idx])
    idx = idx.astype(int)
    tmp_idx = int_entity_id[idx]
    if sum([np.isnan(x) for x in tmp_idx]) == len(tmp_idx):
        int_entity_id[idx] = j
    else:
        int_entity_id[idx] = np.nanmin(tmp_idx)


dtf_out = pd.DataFrame({"STRING": str_strings, "ENTITY_ID": int_entity_id}).sort_values(["ENTITY_ID"])


print(time.time() - time_start)

16.10629439353943

In [10]:
dtf_out.head(100)

                                       STRING  ENTITY_ID
0       !J INC                                 0.0
1       #1 A LIFESAFER HOLDINGS, INC.          1.0
2       #1 ARIZONA DISCOUNT PROPERTIES LLC     2.0
3       #1 PAINTBALL CORP                      3.0
4       $ LLC                                  4.0
5       & S MEDIA GROUP LLC                    5.0
278210  HH & S MEDIA GROUP LLC                 5.0
6       &TV COMMUNICATIONS INC.                6.0
7       'MKTG, INC.'                           7.0
8       'OHANA LABS INC.                       8.0
9       (OURCROWD INVESTMENT IN MST) L.P.      9.0
10      (Y.Z) QUEENCO LTD.                     10.0
11      .CLUB DOMAINS, LLC                     11.0
12      012 SMILE.COMMUNICATIONS LTD           12.0
436603  O2 MEDTECH INC                         13.0
13      02 MEDTECH INC                         13.0
4211    90210 LLC                              14.0
14      0210, LLC                              14.0
15      024 PHARMA, INC.                       15.0
16      02DIESEL CORP                          16.0
501274  REVEL ENTERTAINMENT GROUP, LLC         17.0
204309  FILAMENT ENTERTAINMENT GROUP INC.      17.0
216400  FOX ENTERTAINMENT GROUP INC            17.0
216401  FOX ENTERTAINMENT GROUP, INC.          17.0
160577  DELTA ENTERTAINMENT GROUP, INC.        17.0
27535   AMERICAN ENTERTAINMENT GROUP INC       17.0
496987  REGAL ENTERTAINMENT GROUP              17.0
244808  GOLD ENTERTAINMENT GROUP INC           17.0
183532  ELINE ENTERTAINMENT GROUP INC          17.0
246537  GOLDSTAR ENTERTAINMENT GROUP, INC.     17.0
...                                    ...      ...
43      06 E DUBAI/TWICE FORBIDDEN LLC         43.0
44      06 EL CORREDOR JUST GIN'N LLC          44.0
45      06 ELUSIVE QUALITY LAVENDER LLC        45.0
46      06 FLATTER/BE A QUIET HONEY LLC        46.0
47      06 FOREST CAMP/HOPES DIAMOND LLC       47.0
48      06 FRIENDS LAKE/PROFIT SYSTEM LLC      48.0
49      06 INDIAN CHARLIE RISING TIDE LLC      49.0
50      06 LION HEART MOMENTS DELIGHT LLC      50.0
51      06 MALIBU MOON/NATIONAL PASTIME LLC    51.0
52      06 NOT FOR LOVE/NEAR & DEAR LLC        52.0
53      06 PEACE FULES JUSTFORTHEGIRLS LLC     53.0
54      06 PEACE RULES/MAMBO MISTRESS LLC      54.0
55      06 PURE PRIZE GLORIAS GOLD LLC         55.0
56      06 READ THE FOOTNOTES/RE RE BE BE LLC  56.0
57      06 ROARING FEVER/REPAST LLC            57.0
58      06 ROCK SLIDE/IN GLOWING COLORS LLC    58.0
59      06 SARAVA JUST GORGEOUS LLC            59.0
60      06 SEATTLE FITZ LIGHT LINE LLC         60.0
61      06 SILVER DEPUTY BELOVED LLC           61.0
62      06 SILVER DEPUTY DAISY DUKES LLC       62.0
63      06 TAPIT LOOKING FOR A STAR LLC        63.0
64      06 TETON FOREST PRINCESS SEQUOIA LLC   64.0
65      06 TIGER RIDGE/EM BARBIE DOLL LLC      65.0
66      06 WEST ACRE CLASSIC BEAUTY LLC        66.0
67      06 WESTS SECRET LLC                    67.0
68      06068900 B.C. LTD.                     68.0
69      07 CASTLEDALE/MARY CAROLYN, LLC        69.0
70      07 CLOSING ARGUMENT/AUTUMN MUSIC LLC   70.0
71      07 CONSOLIDATOR/SUTTER SUTTER, LLC     71.0
72      07 DIXIE UNION/MAIDEN VOYAGE, LLC      72.0

[100 rows x 2 columns]