In [1]:
import sys
import multiprocessing
print('Python %s on %s' % (sys.version, sys.platform))
print(str(multiprocessing.cpu_count()) + " CPUs avaiable. ")

Python 3.6.3 (default, Jan  9 2018, 10:19:07)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-11)] on linux
12 CPUs avaiable.

Import packages.

In [2]:
import pandas as pd
import numpy as np
import time

Import the pfsm package.

In [3]:
from pfsm import *

### Example 1. Strings vs strings

In [4]:
def stringsVsStrings(array_1, array_2):
    l = len(array_1)
    obj = Strings(np.concatenate((np.array(array_1), np.array(array_2))))
    obj.processStrings()
    obj.tfidfM()
    return cosimtop(obj.M[0:l,], obj.M[l:, ].transpose(), 3, 0.5)

In [5]:
stringsVsStrings(["Company X", "Bank XXYYZZ"], ["Bank XYZ", "Sample Corporation", "X Company"]).todense()

matrix([[0.        , 0.        , 0.93454393],
        [0.54544268, 0.        , 0.        ]])

### Example 2. Get the same ID for similar strings.

Load some sample data.

In [6]:
dtf_names =  pd.read_csv('../data/sec_edgar_company_info.csv', dtype = object)
str_strings = sorted(dtf_names["Company Name"].unique())

Define a function for future use. You can set custom parameters values for each method of the class Strings.

In [7]:
def getIdsFromStrings(strings):
    obj_strings = Strings(strings)
    obj_strings.processStrings()
    obj_strings.tfidfM()
    obj_strings.groupByKMeans()
    obj_strings.getEntityID()
    return obj_strings.groups

Speed test.

In [8]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:16000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Creating array of clusters.
There are 1 clusters. | Input dictionary size: 240
Multiprocessing done! Merging data ...

Running time: 5 seconds.

In [9]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:32000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Largest cluster dim: 32000 | Largest cluster ID 0 | Iteration time: 0
Creating array of clusters.
There are 120 clusters. | Input dictionary size: 4704
Multiprocessing done! Merging data ...

Running time: 5 seconds.

In [10]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:64000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Largest cluster dim: 64000 | Largest cluster ID 0 | Iteration time: 0
Creating array of clusters.
There are 123 clusters. | Input dictionary size: 4704
Multiprocessing done! Merging data ...

Running time: 10 seconds.

In [11]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:128000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Largest cluster dim: 46584 | Largest cluster ID 0-9 | Iteration time: 0
Creating array of clusters.
There are 203 clusters. | Input dictionary size: 9320
Multiprocessing done! Merging data ...

Running time: 19 seconds.

In [12]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:256000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Largest cluster dim: 35854 | Largest cluster ID 0-6-17-3-1-1 | Iteration time: 0
Creating array of clusters.
There are 282 clusters. | Input dictionary size: 9320
Multiprocessing done! Merging data ...

Running time: 38 seconds.

In [13]:
tms_start = time.time()
dtf_strings_ids = getIdsFromStrings(str_strings[0:512000])
print("\nRunning time: " + str(int(time.time() - tms_start)) + " seconds.")

Largest cluster dim: 33903 | Largest cluster ID 0-30-9-2-5-4-8-5-1-0 | Iteration time: 0
Creating array of clusters.
There are 389 clusters. | Input dictionary size: 18528
Multiprocessing done! Merging data ...

Running time: 80 seconds.

### Checking results

In [14]:
counts = np.unique(dtf_strings_ids.ENTITY_ID, return_counts = True)

In [15]:
dtf_entities = pd.DataFrame({"ENTITY_ID": counts[0], "COUNT": counts[1]}).sort_values(["COUNT"], ascending = False, axis = 0).reset_index(drop = True)

In [16]:
dtf_entities.head(10)

    ENTITY_ID  COUNT
0  0-30-94-48   1582
1   0-36-1457    855
2   0-24-3357    747
3    0-97-851    559
4     0-5-950    418
5  0-30-94-49    212
6  0-116-2368    197
7   0-124-949    189
8    0-13-396    171
9    0-16-311    159

In [17]:
dtf_strings_ids.loc[dtf_strings_ids.ENTITY_ID == dtf_entities.ENTITY_ID[4444], ].head(10)

                                   ORIGINAL_STRING   INDEX GROUP_ID  ENTITY_ID
133000   CONSTELLATION BRANDS BEACH HOLDINGS, INC.  133000     0-28  0-28-1680
133001                    CONSTELLATION BRANDS INC  133001     0-28  0-28-1680
133002         CONSTELLATION BRANDS OF GEORGIA INC  133002     0-28  0-28-1680
133004  CONSTELLATION BRANDS U.S. OPERATIONS, INC.  133004     0-28  0-28-1680
133005                  CONSTELLATION BRANDS, INC.  133005     0-28  0-28-1680